    body{
        background-color: rgb(0, 0, 0)
    }

    main{
        color:white;
    }
    .navsub{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
    #navcontact{
        color : rgb(255, 0, 0);
        background-color: black;
    }
    header{
        text-align: center;
    }
    #main{
                font-family: Times New Roman;
                font-size: xx-large;
                font-weight: bolders;
        text-align: center;
    }
    #name{
        font-weight: lighter;
        text-align: center;
    }
    #profileimg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
    }
    html{
        scroll-behavior: smooth;
    }
   